<div class="tabs">
    <ul class="tabs-nav flex">
        <li class="tabs-nav__item">
            <a href="#tab0" class="tabs-nav__link active">East Africa</a>
        </li>
        <li class="tabs-nav__item">
            <a href="#tab1" class="tabs-nav__link">Bike</a>
        </li>
        <li class="tabs-nav__item">
            <a href="#tab2" class="tabs-nav__link">Central Affrica</a>
        </li>
    </ul>
    <div class="tabs__wrapper">
        <div class="tabs-content active"></div>
        <div class="tabs-content"></div>
        <div class="tabs-content"></div>
    </div>
</div>